# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Database files
*.sql
*.sqlite

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor-specific files
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# Miscellaneous
*.tgz
*.gz
*.zip
*.tar

# Package lock
package-lock.json